
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arizonia', cursive;
}
.navbar  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 70px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.7);
  
}
.navbar-links {

    display: flex;
    }

.brand-title {
    font-family: 'Arizonia', cursive;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    margin: .5rem;
    color:lightgrey;

}
.navbar-links ul {
   font-family: 'Arizonia', cursive;
   margin: 0;
   padding: 0;
   display: flex;
}

.navbar-links li {
   list-style-type: none;
     
}

.navbar-links li a {
    font-family: 'Arizonia', cursive;
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: 1rem;
    display: block;

}
.navbar-links li:hover {
    background-color: grey;
}

.navbar-links.active {
    flex-direction: column;
    width: 100vw;
}

.main-text.hide {
    visibility: hidden;
}

.background  {
    background-image: url("https://github.com/anshelto/ThroughEmsLens/blob/master/Images/img11.JPG?raw=true");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    opacity: .7;
    color:white;
}

.background::after {
   content:"";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
}

.background > * {
  z-index: 10;
}

.toggle-button {
    position: absolute ;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height:21px;
}

.toggle-button .bar {   
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


.main-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: black;
    text-align: center;
}

@media screen and (max-width: 580px) {
    .toggle-button {
        display: flex;

    }
    .navbar-links {
        width: 100%;
        display: none;
    }
   .navbar-links li {
       text-align: center;
   }
    .navbar {
       
        flex-direction: column;
        align-items: center;
        height: 100px;
        color: black;
    }

    .navbar-links ul {
        width: 100%;
        margin-top: 30%;
        font-size: 3rem;
        flex-direction: column;
    }

   .navbar-links li a{

     background: rgba(0,0,0,0.7);

   }
   .navbar-links li a {
       padding: .5rem 1rem;
   }


   .navbar-links.active {
       display: flex;
      
   }

   .card-about.active {
       
       visibility: hidden;
       margin-top: 40rem;

   }

   .brand-title {
    margin-top: 0;
    padding-top: 0;

   }


}

@media screen and (max-width: 380px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        width: 100%;
        display: none;
    }
   .navbar-links li {
       text-align: center;
   }
    .navbar {
       
        flex-direction: column;
        align-items: center;
        height: 100px;
        color: black;
    }

    .navbar-links ul {
        width: 100%;
        margin-top: 30%;
        font-size: 2rem;
        flex-direction: column;
    }

   .navbar-links li a{

     background: rgba(0,0,0,0.7);

   }
   .navbar-links li a {
       padding: .5rem 1rem;
   }


   .navbar-links.active {
       display: flex;
       margin-bottom: 100px;
   }
   .brand-title {
       font-size: 1.5rem;
       width: 100%;
       margin-top: 1rem;
       padding-top: 0;
       color: white;
   }
}

.footer{
    bottom:0;
    right: 0;
}

/* About Me Page*/


.background-container-about {
    font-size: 14px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding: 0;
    text-align: center ;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://github.com/anshelto/ThroughEmsLens/blob/master/Images/DSC_0476.JPG?raw=true");
    background-size: cover;
  }
  .card-about {
    display: flex;
    flex-direction: column;
    height: 70%;
    border-radius: 25px;
    background:rgba(0,0,0,0.7);
    box-shadow: 3px 3px 8px black;
    width: auto;
    max-width: 50rem;
    padding: 2em;
    box shadow: 0 2rem 8rem rgba(0,0,0 .8);
  
  
  }

  
  
  .card-img-Em img {
    width: 22rem;
    height: 22rem;
    position: relative;
    border-radius: 100%;
    
    object-fit: cover;
  
  
  }
  
  .about-header {
    color: whitesmoke;
    font-size: 2.5rem;
  
  }      

  }
  .about-text {
    color: whitesmoke;
    font-size: 1.7rem;
    margin: 1.5rem 0 2rem;
  
  }
  .about-sub {
    font-size: 1.5rem;
    color: silver;
    font-weight: 900;
  
  }
  
/* media queries */
 /* Main Name and Sub Header Position*/

@media screen and (min-width:950px) {
    .Main-Header {
      margin-top: 20rem;
      /*margin-left: 35rem;*/
      font-size: 5rem;

    }
    
    .Emily-Name {
        margin-left: 40rem;
        font-size: 1.5rem;
        
      } 
    }

 @media screen and (max-width: 360px) {
     .Main-Header {
        margin-top: 17rem;
        font-size:3.8rem; 
        /*margin-left: 20%;*/
       }
    .Emily-Name {
        margin-left: 20%;
        
    }
 }

 @media screen and (max-width: 960px) {
    .Main-Header {
       margin-top: 70%;
       font-size:4rem; 
       /*margin-left: 15%;*/
      }
   .Emily-Name {
       margin-left: 20%;
       
   }
}


@media screen and (max-width: 415px) and (min-height: 813px) {
    .Main-Header {
        font-size:4rem;
        margin-top: 75%;
       /* margin-left:3rem;*/
        
      }

   .Emily-Name {
       
       margin-left: 30%;
   }
}




    .brand-title {
       color: white;
        
    }
    .about-header{
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    .about-sub {
        font-size: 2rem;
    }
    .about-text{
        font-size: 2rem;
        margin-top: 5rem;
    }

    .navbar {
        position: absolute;
    }
    .navbar-links a {
        font-size: 2.5rem;
    }
    .card-about {
        margin-top: 8rem;
        width: 80%;
    }
    .background-container-about {
        height: 100%;
    }
    .card-text-about {
        color: white;
    }
    .card-img-Em #em-img{

        min-width: 13rem;
        max-width: 13rem;
        height: 13rem;
     }
    }


   @media screen and (min-width: 375px) {

    .brand-title {
       color: white;
       font-size: 1.8rem;
    }
    
    .about-header{
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    .about-sub {
        font-size: 2rem;
    }
    .about-text{
        font-size: 2rem;
        margin-top: 5rem;
    }

    .navbar {
        position: absolute;
    }
    
    .card-about {
        margin-top: 8rem;
        width: 80%;
    }
    .background-container-about {
        height: 100%;
    }
    .card-text-about {
        color: white;
    }
    .card-img-Em #em-img {
        min-width: 13rem;
        max-width: 13rem;
        height: 13rem;
     }
    }

   
   @media screen and (min-width: 414px) {

    .brand-title {
       color: white;
       font-size: 1.8rem;
    }
    
    .about-header{
        font-size: 3rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    .about-sub {
        font-size: 2rem;
    }
    .about-text{
        font-size: 2rem;
        margin-top: 5rem;
    }

    .navbar {
        position: absolute;
    }
    
    .card-about {
        margin-top: 8rem;
        width: 80%;
    }
    .background-container-about {
        height: 100%;
    }
    .card-text-about {
        color: white;
    }
    .card-img-Em #em-img{
        min-width: 14rem;
        max-width: 14rem;
        height: 14rem;
     }
    }
/* IPAD */
    @media screen and (min-width: 768px) {

        .brand-title {
           color: white;
           font-size: 1.9rem;
        }
        .navbar-links li a {
            font-size: 1.3rem;
        }
        .about-header{
            font-size: 3rem;
            margin-bottom: 3rem;
            margin-top: 3rem;
        }
        .about-sub {
            font-size: 2rem;
        }
        .about-text{
            font-size: 2rem;
            margin-top: 5rem;
        }
    
        .card-about {
            margin-top: 8rem;
            width: 80%;
        }
        .background-container-about {
            height: 100%;
        }
        .card-text-about {
            color: white;
        }
        .card-img-Em #em-img{
            min-width: 14rem;
            max-width: 14rem;
            height: 14rem;
         }
        }
    /*IPAD PRO */
        @media screen and (width: 1024px) and (height:1366px) {

            .brand-title {
               color: lightgrey;
               font-size: 3rem;
            }
            .navbar-links li a {
                font-size: 2.8rem;
            }
            .about-header{
                font-size: 3rem;
                margin-bottom: 3rem;
                margin-top: 3rem;
            }
            .about-sub {
                font-size: 2.5rem;
            }
            .about-text{
                font-size: 3rem;
                margin-top: 5rem;
            }
        
            .navbar {
                height: 175px;
                position: absolute;
                width: 70rem;
            }
            
            .card-about {
                height: 100vh;
                margin-top: 15rem;
                width: 80%;
            }
            .background-container-about {
                height: 100%;
            }
            .card-text-about {
                color: white;
            }
            .card-img-Em #em-img{
                min-width: 30rem;
                max-width: 30rem;
                height: 30rem;
             }

             .projects ul.show {
                margin-top: 10rem;
            }
        }
    @media screen and (min-width: 1280px) {

        .brand-title {
           color: white;
           
        }
        .navbar-links li a {
            font-size: 2rem;
        }
        .about-header{
            font-size: 3rem;
            margin-bottom: 3rem;
            margin-top: 3rem;
        }
        .about-sub {
            font-size: 2rem;
        }
        .about-text{
            font-size: 2rem;
            margin-top: 5rem;
        }
    
        
        .card-about {
            height: 100vh;
            margin-top: 8rem;
            width: 80%;
        }
        .background-container-about {
            height: 100%;
        }
        .card-text-about {
            color: white;
        }
        .card-img-Em #em-img{
            min-width: 14rem;
            max-width: 14rem;
            height: 14rem;
         }
        }
    /* BLOG */

    

.background-container-ja {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    text-align: center ;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://github.com/anshelto/ThroughEmsLens/blob/master/Images/img-bam.JPG?raw=true");
    background-size: cover;
    
  }
    
  .card {
    font-family: 'Roboto', sans-serif;
    display: flex;
    border-radius: 25px;
    background:lightcyan;
    box-shadow: 3px 3px 8px black;
    width: 90%;
    max-width: 90rem;
    padding: 2em;
    box shadow: 0 2rem 8rem rgba(0,0,0 .8);
  }
  .card-text {
    font-size: 20px;
    color: black;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    
  }
  .blog-text {
    font-family: 'Roboto', sans-serif;
  }
  .blog-header{
      font-family: 'Roboto', sans-serif;
    
  }
  .monday {
    font-family: 'Roboto', sans-serif;
  }
  
   .card img {
    min-width: 18rem;
    max-width: 18rem;
    height: 20rem;
    position: relative;
    transform: translateY(2rem)translateX(-4rem);
    border-radius: 18px;
    box-shadow: 1em 2em 1em 0 black;
    object-fit: cover;
     
   }
  
     .card .date {
     font-family: 'Roboto', sans-serif;
     display: block;
     color: (0,0,0,.5);
     font-size: 1.6rem;
     margin: 1.5rem 0 2rem;
     font-weight: 600;
   }
  
   .card .blog-header {
     font-family: 'Roboto', sans-serif;
     font-size: 2.0rem;
     margin: 1.5rem 0 2rem;
     text-transform: uppercase
  
    }
  
    .card-text {
      font-family: 'Roboto', sans-serif;
      margin-bottom: 3rem;
      font-size: 1rem;
     
    }
  
    .blog-post-btn {
      font-family: 'Roboto', sans-serif;
      display: inline-block;
      padding: 1.5rem 3rem;
      letter-spacing:2px;
      text-transform: uppercase;
      color: blue;
      border-radius: 18px;
      text-decoration: none;
    }
  
    .blog-post-btn:hover {
      color: purple;
    }


    /*End of Blog/

    /*Blog Media Queries */

    @media screen and (min-width: 320px) and (max-width:580px) {
        .brand-title {
            margin-top:0;
            font-size: 1.5rem;
        }
        .card.active{
            
            visibility: hidden;
            margin-top: 38rem
     
        }
        .navbar-links.active{
            margin-top: 25%;
        }
        .card{ 
            flex-direction: column;
            margin-top: 8.5rem;
        }

        .background-container-ja {
           height: 100%;
           }
        .card img{
            transform:none;
            min-width: 15rem;
            max-width: 15rem;
            height: 21rem;
        }
         .navbar-links ul {
        margin-top: 17%;
         }
        .navbar-links li a{
        display: flex;
        justify-content: center;
         }
        .card .date {
        margin-top: 5rem;
         }
        .blog-post-btn {
         font-size: 1.3rem
         }
    }

  @media screen and (min-width:414px) and (max-width:700px) {
    .navbar-links.active{
        margin-top: 25%;
    }
        
    .card img{
        min-width: 19rem;
        max-width: 19rem
    }
    .brand-title {
        margin-top:0;
        font-size: 1.5rem;
    }
    .card.active{
        margin-top: 38rem
 
    }
    .card{ 
        flex-direction: column;
        margin-top: 8.5rem;
    }

    .background-container-ja {
       height: 100%;
       }
    .card img{
        transform:none;
        min-width: 19rem;
        max-width: 19rem;
        height: 21rem;
    }
     .navbar-links ul {
    margin-top: 17%;
     }
    .navbar-links li a{
    display: flex;
    justify-content: center;
     }
    .card .date {
    margin-top: 5rem;
     }
    .blog-post-btn {
     font-size: 1.3rem
     }
}
         /*IPAD*/
@media screen and (min-width:768px) and (max-width:769px) {
    .card img {
        transform: translateY(2rem)translateX(-3rem);
    }
}
   
         /*Contact Page*/
            
  
  
.background-container {
    background-image: url("https://github.com/anshelto/ThroughEmsLens/blob/master/Images/img-ca.JPG?raw=true");
    background-size: cover;
    width: 100vw;
    height: 100vh;
  
  }
  .contact-title {
    font-family: 'Arizonia', cursive;
    text-align: center;
    padding-top: 30px;
  }
   
  .contact-h1 {
    font-size: 50px;
    
    margin-bottom: 5px;
  }
  .contact-h2 {
    font-size: 25px;
  }
  
  #contact-form{
    text-align:center;
    }

   
  .form-control {
    font-family: 'Arizonia', cursive;
    font-size: 20px;
    width: 70%;
    height: 40px;
    background: rgba(0,0,0,0.7);
    border: none;
    border-bottom: 1px solid grey;
    color:white;
    animation-name: slide-contact;
    animation-duration: 4s;
    animation-fill-mode: forwards;  
  
    }
  
  
   .form-control-submit {
    font-family: 'Arizonia', cursive;
    height: 55px;
    background-color: yellowgreen;
    border-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 40px;
    margin-top: 40px;
    border-radius: 50%;
  }
  
  .form-control-submit:hover{
    background-color: yellow;
    cursor: pointer;
    border-color: transparent;
    
  }
  
  .linked {
    color: orange;
  
  }
 



  /*Media Queries */

  @media screen and (min-width: 320px) and (max-width:410px) {
  
  .navbar {
      height:60px;
  }
  .navbar-links.active {
      margin-top: 0;
  }
  .navbar-links li a{
    font-size: 2rem;
    padding: .5rem;
  }
  .brand-title {
     font-size:1.2rem;
  }
  .contact-h1{
      font-size: 2.7rem;
      margin-top:13%;
  }
  
  .contact-h2 {
    font-size: 1.3rem;
  }
  .form-control {
  border-bottom: 1px solid white;
    color: white;
  }
  .contact-title.active {
    display: none;
  }
}
  
 @media screen and (min-width: 411px) and (max-width: 710px) {

.navbar{
    height:60px;
}
.navbar-links.active {
    margin-top: 0;
}
.brand-title {
   font-size:1.7rem;
}
.contact-h1{
    font-size: 4rem;
    margin-top: 4rem;
}

.contact-h2 {
  font-size: 1.3rem;
}
.form-control {
border-bottom: 1px solid white;
  color: white;
}
.contact-title.active {
  display: none;
 }
}


/*IPAD */
@media screen and (min-width: 768px) and (max-height: 1024px) {
.brand-title {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.contact-h1 {
    
    font-size: 6rem;
    margin-top: 4rem;
}
#contact-form {
    margin-top: 1rem;
  }
}
/*IPAD PRO */
@media screen and (width: 1024px) and (height:1366px) { 
  .contact-h1 {
    margin-top: 12rem;
    font-size: 7rem;
    margin-bottom: 5px;
  }
#contact-form {
    font-size: 3rem;
}
.form-control-submit {
    font-size: 25px;
    height: 100px;
    width: 150px;
    margin-top: 5rem;
   }
}
/*Laptop, desktop, large screen devices */

@media screen and (min-width: 1025px) {

    .contact-h1 {
      margin-top: 5rem;
    }
    .form-control-submit {
        font-size: 25px;
        height: 100px;
        width: 150px;
        margin-top: 5rem;
    }
}

   /*  Gallery 1 */



.gallery-background {
   margin: 0;
   padding: 0;
   background: gray;
}

.gallery-container {
   max-width: 1000px;
   margin-top: 4.5rem;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
   border: white solid 3px;
   background: white;
}

.starter-img img, .gallery-imgs img {

width: 100%;

}

.gallery-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}


@media screen and (min-width: 320px) and (max-width:410px) {
  

 .gallery-imgs {
     grid-template-columns: 1fr 1fr;
 }
}

@media screen and (min-width: 411px) and (max-width:600px) {

    .gallery-container {
       margin-top: 3.8rem

    }
    .gallery-imgs {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
    
    /*Ipad Pro*/
@media screen and (min-width: 1024px) and (height: 1366) {

    .gallery-imgs img {
        margin-top: 3rem
    }
    .starter-img img {
        margin-top: 7rem;
       }
   }

/* Drop Down Menu Style Sheet*/

.projects {
    width: 100px;
    
}

.projects ul {
    visibility: hidden;
    display:flex;
    flex-direction: column;
    position: absolute;
    margin-top: 4.7rem;
    right: 8rem;
}

.projects ul.show {
    visibility: visible;
    background: rgba(0,0,0,0.7);
}
/*Iphone 5 */
@media screen and (min-width: 320px) and (max-width:600px) {

    .projects ul.show {
        visibility: visible;
        position: absolute;
        margin: auto;
        margin-top: 1rem;
        right: .10rem;
        
    }
}
        /*Iphone 6/7/8*/

@media screen and (min-width: 335px) and (max-width:580px) {
      .navbar-links.active{
          margin-top: 1rem;
          font-size: 2.3rem;
          
      }
      .brand-title {
          font-size: 1.2rem;
          
      }
      .Emily-Name {
          margin-left: 5rem;
      }

      .main-text {
          /*margin-left: -5rem;*/
      }
      
}
/* Hamburger Menu is removed at 580px*/

@media screen and (min-width: 411px) and (max-width: 710px) {

    .main-logo >h3 { 
        color: black;
    }
}




    
           

    
